@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&display=swap');

body {
  font-family: 'Open Sans', sans-serif !important;
  height: 100vh;
  background: #f8f8f8 !important;
  color: #333 !important;
}

#root {
  height: 100%;
}

code, h1, h2, h3, h4, h5, .ui.menu, .ui.button {
  font-family: 'Open Sans', sans-serif !important;
}

/* Utility Classes */
.f-h {
  height: 100%;
}

.f-w {
  width: 100%;
}

.ui.button, .ui.form {
  font-size: 15px !important;
}

.ui.button.basic.selected {
  background: #333 !important;
  color: #ffff !important;
}